@media (min-width:374.98px) {
    .wrapper {
        max-width: 340px;
    }
}
@media (min-width:576px) {
    .wrapper {
        max-width: 540px;
    }
}

@media (min-width:768px) {
    .wrapper {
        max-width: 720px;
    }
}

@media (min-width:992px) {
    .wrapper {
        max-width: 960px;
    }
}

@media (min-width:1200px) {
    .wrapper {
        max-width: 1170px;
    }
}

@media (min-width:1440px) {
    .wrapper {
        max-width: 1380px;
    }
}

@media (min-width:1777px) {
    .wrapper {
        max-width: 1440px;
    }
}

@media (max-width:1776.98px) {

}

@media (max-width:1439.98px) {

}

@media (max-width:1199.98px) {
    
}

@media (max-width:991.98px) {
    
}

@media (max-width:767.98px) {
    
}

@media (max-width:575.98px) {
    
}

@media (max-width:374.98px) {
    
}